*{box-sizing: border-box; margin: 0; padding: 0;}

html{ font-family: Arial, Helvetica, sans-serif; font-size: 1em; color: white;}

/*Configurações do cabeçalho*/
header{ background-color: rgb(39, 41, 61); padding: 0.5%;height: 15em; display: flex; }

/*Configurações do corpo*/
body{ background-color: rgb(29, 29, 35);}

/*Configurações do rodapé*/
footer{ background-color: rgb(39, 41, 61); padding: 0.5%; height: 4em; text-align:center;}

/*Divs para separar os conteudos */
.separador{ margin-top: 1%; }

/*Configurações dos boxs do cabeçalho*/

#box-foto-header{width: 15%; height:100%;}

#profile-picture{ width: 100%; border-radius: 50%; }

#box-pai-conteudos-header{width: 85%; height: 100%; margin-left: 1%;}

#box-filho1-conteudos-header{width: 100%; background-color: rgb(39, 41, 61); height: 70%; }

h1{ margin: 0 auto; margin-left: 1%; font-size: 4em; }

h2{ margin: 0 auto; margin-left: 1%; margin-top: 5px; }

#box-filho2-conteudos-header{ width: 100%; background-color: rgb(49, 51, 77); height: 30%;}

.menu{ width: 25%; float: left; padding: 10px; margin-top: -0.5%;border: black solid 1px; background-color: rgb(35, 126, 247); }

.menu:hover{background-color: rgb(29, 29, 35); }

a{ color: white; text-decoration: none; }

nav{ display: block; text-align: center; padding: 1%; font-size: 1.5rem; height: 100%; }

/*############################################################################################################*/
/*Configurações do grid */

.grid{ display: grid; grid-template-columns: repeat(auto-fill,minmax(33%, 1fr)); margin: auto; gap:1px; }

.grid div{ text-align: center; padding: 1%; }

.texto-banner{ font-size: 1.4em; margin-top:2%;}

#grid-conteudo{ background-color: rgb(29, 29, 35); }



#BoxPai-conteudo1{ width: 100%; height: 36em; }

.BoxFilho-conteudo1{  height: 22.5%;background-color:rgb(29, 29, 35); width: 100%; float: left;border: solid 0.5px rgb(78, 80, 84);}

#banner-conteudo1{ height: 10%; background-color: rgb(49, 51, 77); }

.box-info-pessoais{ width: 100%; height: 100%; background-color: rgb(29, 29, 35); }

.box-esquerdo-info-pessoais{ width: 30%; height: 100%; background-color: rgb(67, 68, 68); display: flexbox; float: left; }

.box-direito-info-pessoais{ width: 69%; height: 100%; background-color: rgb(67, 68, 68); float: right; }

.texto-direito-info-pessoais{ text-align: center; font-size: 1.3em; padding: 15%; }

.img-info-pessoais{ width: 95%; text-align: center; }

#img-cidade{ width: 80%; }

#img-idioma{ width: 80%; }



#BoxPai-conteudo2{ width: 100%; height: 36em; }

#banner-conteudo2{ height: 10%; background-color: rgb(49, 51, 77); }

.BoxFilho-conteudo2{ height: 45%; background-color: rgb(29, 29, 35); width: 100%; float: left; border: solid 0.5px rgb(78, 80, 84);}

.box-info-profissionais{ width: 100%; height: 100%; background-color: rgb(29, 29, 35); }

.box-esquerdo-info-profissionais{ width: 30%; height: 100%; background-color: rgb(67, 68, 68); display: flexbox; float: left;}

.img-info-profissionais{ width: 95%; text-align: center;margin-top: 50%; }

.box-direito-info-profissionais{ width: 69%; height: 100%; background-color: rgb(67, 68, 68); float: right; }

.texto-direito-info-profissionais{ text-align: center; font-size: 1.3em; margin-top:35%; }



#BoxPai-conteudo3{ width: 100%; height: 36em; }

#banner-conteudo3{ height: 10%; background-color: rgb(49, 51, 77); }

.BoxFilho-conteudo3{ height: 30%; background-color: rgb(29, 29, 35); width: 100%; float: left; border: solid 0.5px rgb(78, 80, 84);}

.box-hobbies{ width: 100%; height: 100%; background-color: rgb(29, 29, 35); }

.box-esquerdo-hobbies{ width: 30%; height: 100%; background-color: rgb(67, 68, 68); display: flexbox; float: left;}

.img-hobbies{ width: 95%; text-align: center;}

.box-direito-hobbies{ width: 69%; height: 100%; background-color: rgb(67, 68, 68); float: right; }

.texto-direito-hobbies{ text-align: center; font-size: 1.3em; margin-top:20%; }

